.tile0{  
	-fx-background-color: #bad8d8;
}

.tile0 > Label{
	-fx-opacity: 0.0;
}

.tile1{
	-fx-background-color: #64ccfe;
	-fx-border-color : #60afed; 
    -fx-border-width : 0 0 7 0;
}

.tile2{
	-fx-background-color: #ff6780;
	-fx-border-color : #ba6284; 
    -fx-border-width : 0 0 7 0;
}

.tile3{
	-fx-background-color: #ffffff;
	-fx-border-color : #eaeaea; 
    -fx-border-width : 0 0 7 0;
}